.img-0 {
    margin-top: 24px;
}

.img-1 {
    margin-top: 24px;
}

.img-2 {
    margin-top: 24px;
}

.img-3 {
    margin-top: 24px;
}

.img-4 {
    margin-top: 24px;
}

.img-5 {
    margin-top: 24px;
}