.img-0 {
    margin-top: 24px;
}

.img-1 {
    margin-top: 24px;
}

.img-2 {
    margin-top: 24px;
}

.img-3 {
    margin-top: 24px;
}

.img-4 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.img-5 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.buttonMen{
    width: 185.13334px;
    height: 64.13334px;
}

.buttonWomen{
    width: 185.13334px;
    height: 64.13334px;
}